<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Jardín Digital de Rubén</title>
		<style>
		body {
			font-family: system-ui, sans-serif;
		}
		button {
			font-family: inherit;
		}
		</style>
	</head>
	<body>
		<header>
			<h1>Jardín Digital de Rubén</h1>
		</header>
		{{ content | safe }}
		<footer>
			<ul>
				<li><a href="https://stackapps.com/q/10533/105187"><i>Jardín Digital de Rubén</i> post on stackapps.com</a>
				<li><a href="https://github.com/oleeskild/obsidian-digital-garden">Obsidian Digital Garden on GitHub</a>
				<li><a href="https://github.com/rubenrivera/demo-eleventy-serverless-oauth/">Eleventy Serveless OAuth demo on GitHub</a>
				
			</ul>
		</footer>
	</body>
</html>
