node_modules
dist
netlify/functions/search/data.json
netlify/functions/search/index.json
src/site/styles/theme.*.css
src/site/styles/_theme.*.css
# Local Netlify folder
.netlify
.idea/
.vercel
.cache
_site/
**/.DS_Store
# Depends on branch
README.md
# Local Development
.env
.eleventyignore
# Eleventy Serverless
netlify/functions/dynamic/*
!netlify/functions/dynamic/index.js
# demo-eleventy-serverless
netlify/functions/serverless/*
!netlify/functions/serverless/index.js
# Eleventy Serverless
netlify/functions/auth/*
!netlify/functions/auth/index.js