<div class="login-container" id="globallogin" onclick="toggleLogin()">
    <div class="login-box">
        {% include "components/user/auth/loginForm.njk" %}
    </div>
</div>
{%include "components/user/auth/loginScript.njk"%}