body {
  padding-bottom: 0 !important;
}

#footer {
  .bottom-navbar {
    @extend .navbar !optional;
    position: absolute;
    width: calc(100vw - var(--file-margings));
    top: auto;
    bottom: 0;    
    align-items: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

