{# Dynamic form to handle the login buttons #}
<style>
  button[name=provider] {
    display: none;
  }
  button[name=provider][value="stackexchange"],
  button[name=provider][value="github"] {
    display: inline-block;
  }
  select {
    appearance: menulist;
  }
</style>
{% set securePath = "/" %}
<form action="/.netlify/functions/auth-before">
  <input type="hidden" name="securePath" value="{{ securePath }}">
  <fieldset>
    <legend>Inicia sesión con Stack Exchange</legend>
    <select name="site">
      <option value="meta">Meta Stack Exchange</option>
      <option value="stackoverflow">Stack Overflow</option>
      <option value="es.stackoverflow" selected>Stack Overflow en español</option>
      <option value="superuser">Super User</option>
      <option value="webapps">Web Applications</option>
    </select>
    <button type="submit" name="provider" value="stackexchange">Login</button>
  </fieldset>
  <fieldset>
    <legend>Inicia sesión con otros servicios</legend>
    <button type="submit" name="provider" value="netlify">Netlify</button>
    <button type="submit" name="provider" value="github">GitHub</button>
    <button type="submit" name="provider" value="gitlab">GitLab</button>
  </fieldset>
</form>
