<div class="login-container" id="globallogin" onclick="toggleLogin()">
    <div class="login-box">
        {% include "components/auth-form.njk" %}
    </div>
</div>
{%include "components/loginScript.njk"%}