<script>

    window.toggleLogin = function () {
        if (document.getElementById('globallogin').classList.contains('active')) {
            document
                .getElementById('globallogin')
                .classList
                .remove('active');
        } else {
            document
                .getElementById('globallogin')
                .classList
                .add('active');
        }
    }

</script>