<div class="logout-button align-icon">
    <span class="logout-icon">
        <i icon-name="log-out" ></i>
    </span>
    <span class="logout-text">
        <span>{{ 'logout' | i18n }}</span>    
    </span>
</div>