<div class="login-button align-icon" onclick="toggleLogin()">
    <span class="login-icon">
        <i icon-name="log-in" ></i>
    </span>
    <span class="login-text">
        <span>Login</span>
    </span>
</div>