<style>
  #horizatonal-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  #horizatonal-navbar ul li {
    float: left;
  }

  #horizatonal-navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
   #horizatonal-navbar lu li a:hover {
    background-color: #111;
  }
</style>
<nav id="horizatonal-navbar">    
  <ul> 
    <li>
      <a href="https://rubenrivera.mx">Rubén Rivera</a>
    </li>
    <li>
      <a href="https://wicket.quest">Wicket's Quest</a>
    </li>    
  </ul>
</nav>