{% if user %}
<footer class="content cm-s-obsidian">

    <div style="text-align:center;">
        <a href="https://app.netlify.com/sites/roaring-donut-369179/deploys" title="Netlify Status"><img src="https://api.netlify.com/api/v1/badges/1206b64a-6894-45fc-9008-da47397c0f32/deploy-status" /></a>
    </div>
</footer>
{% endif %}