<script src="https://giscus.app/client.js"
        data-repo="rubenrivera/ermita"
        data-repo-id="R_kgDOLRAV6A"
        data-category="General"
        data-category-id="DIC_kwDOLRAV6M4CeNEP"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="es"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
