<footer class="content cm-s-obsidian">
  <div style="display: table;">
    <div style="display:table-row">
      {{ i18nLanguages[page.lang].availableText }}

      {% for link in page.url | locale_links %} {%-if not loop.first %}/{% endif %}
      <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}"
        >{{ link.label }}</a
      >
      {% endfor %}
    </div>
  </div>
</footer>