<div class="comments-row" style="display: flex; flex: 1; flex-direction: column; align-items: center; overflow-y:auto;">
    <div class="comments-container" style="display: flex; flex: 1; flex-direction: row;">
        <div style="flex: 1; padding: 0 0.5rem;">
            <iframe src="https://discord.com/widget?id=1222907698358521950&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div style="flex: 1; padding: 0 0.5rem; min-width: 350px;">
            <div class="giscus"></div>
        </div>
    </div>
</div>