
<ul>
    {% for item in i18nNavigation[page.lang] %}
    <li>
    <a
        href="{{ item.url }}"
        {{
        i18nHelpers.getLinkActiveState(item.url,
        page.url)
        |
        safe
        }}
        >{{ item.text }}</a
    >
    </li>
    {% endfor %}
</ul>      