{% if user %}
¡Hola <a href="/secure/">{{ user.name or user.full_name or user.display_name }}</a>!

{% include "components/logout.njk" %}
{% else %}
{% include "components/auth-form.njk" %}
{% endif %}
