<div class="login-container" id="globallogin" onclick="toggleLogin()">
    <div class="login-box">
    {% include "components/auth/login.njk" %}
        <!--<input type="login" id="term" placeholder="Start typing...">
        <div id="login-results"></div>
        <footer class="login-box-footer">
            <div class="navigation-hint">
                <span>Enter to select</span>
            </div>

            <div class="navigation-hint align-icon">
                <i  icon-name="arrow-up" aria-hidden="true"></i>
                <i  icon-name="arrow-down" aria-hidden="true"></i>
                <span>to navigate</span>
            </div>

            <div class="navigation-hint">
                <span>ESC to close</span>
            </div>

        </footer>-->
    </div>
</div>
{%include "components/auth/loginScript.njk"%}