---
layout: layouts/index.njk
title: "Información de Usuario"
permalink:
  dynamic: "/secure/"
secure:
  unauthenticatedRedirect: "/"
eleventyExcludeFromCollections: true
---
<h2>Esta página es segura</h2>

<h3>Tu información de usuario</h3>
<p>La siguiente información ha sido provista por el proveedor de autenticación que has utilizado.</p>

<img src="{{ user.avatar_url or user.avatar or user.picture or user.profile_image or user["profilePicture"]["displayImage~"]["elements"][0]["identifiers"][0]["identifier"] }}" alt="Avatar for {{ user.name or user.full_name or user.localizedFirstName }}">


<pre>
{{ user | dump(2) }}
</pre>
