
<!DOCTYPE html>
<html lang="{{ page.lang or meta.mainLanguage }}" dir="{{ i18nlanguages[page.lang].dir or 'ltr' }}">
    <head>
        <title>{{ 'nothingHere' | i18n }}</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <div class="content centered">

            {%-if not meta.themeStyle%}
                <div class="font-bg"> &#x1F60E; </div>
            {%endif%}
            <h1>{{ 'thereIsNothingHere' | i18n }}</h1>
            <p>{{ 'ifYouGotHere' | i18n }}</p>
            <a href="/">Volver al inicio</a>
        </div>
    </body>
</html>
