
<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
    <head>
        <title>Jardín Digital de Rubén</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        <style>
        .photo {
            display: block;
            margin: 0 auto;
        }
        .table {
            display: table;
            margin: 0 auto;
        }
        .row {
            display: table-row;
        }
        .cell {
            display: table-cell; 
            text-align: center; 
            width: 300px;
        }
        #forest-graph {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            flex-direction: column;
        }
        #forest-graph .forest-body {
            display: inline-flex;
            flex-direction: column;
            background: #EFFDEE;
            transform: rotate(45deg);
            margin: 60px;
            align-items: flex-end;
            padding: 10px;
        }
        #forest-graph .forest-body .forest-row a img {            
            transform: rotate(-45deg);
        }
        #forest-graph .forest-legends {
            margin-top: 10px;
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;

            font-size: 0.8em;
            color: var(--text-muted);

            img {
                height: 1.5em;
                width: auto;
                margin-right: 5px;
            }
        }
        #forest-graph .forest-legends img {
            background: #EFFDEE;
            padding: 2px;
        }
        </style>
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <header>
        <h1 style="text-align: center;">Jardín Digital de Rubén</h1>
        <div class="content centered">
            {% include "components/user/forest.njk" %}
        </div>
        </header>
        <div class="content centered">
            
            <!--<div class="center"><img class="photo" src="img/foto.png" /></div>-->
            <div class="table">
                <div class="row">
                    <div class="cell"><h2><a href="en/pages/home">Español</a></h2></div>
                    <div class="cell"><h2><a lang="en" href="en/pages/home">English</a></h2></div>
                </div>
            </div>
        </div>        
    </body>
</html>
