---
layout: layouts/index.njk
permalink: 
  dynamic: "/"
eleventyExcludeFromCollections: true
---
<div>
  <ul>
    <li><a href="https://stackapps.com/q/10533/105187">Publicación en inglés en stackapps.com <em>Jardín Digital de Rubén</em></a>
    <li><a href="https://github.com/oleeskild/obsidian-digital-garden">Obsidian Digital Garden en GitHub</a>
    <li><a href="https://github.com/rubenrivera/demo-eleventy-serverless-oauth/">Demo de Eleventy Serveless OAuth en GitHub</a>
  </ul>
</div>
