---
layout: layouts/index.njk
permalink: 
  dynamic: "/"
eleventyExcludeFromCollections: true
---
<style>
  .box {
    display: flex;
  }
</style>
<div>
  <h1>¡Bienvenido a mi Jardín Digital!</h1>
  <div class="box"> 
    <span class="h-card" style="margin: 5px; min-width: 230px;">
      <!-- <img src="/img/foto.png" alt="" width="100px"/> -->
      <a href="https://rubenrivera.mx/" style="padding-left: 5px; vertical-align: top;">
        <span >Rubén Rivera</span>
      </a>
    </span>
    <p>En este espacio estaré compatiendo de forma pública y privada algunas cosas.</p>
  </div>
  
</div>
<div>
  <h2>Información sobre el inicio de sesión en este sitio</h2>
  <ul>
    <li><a href="https://stackapps.com/q/10533/105187">Publicación en inglés en stackapps.com <em>Jardín Digital de Rubén</em></a>
    <li><a href="https://github.com/oleeskild/obsidian-digital-garden">Obsidian Digital Garden en GitHub</a>
    <li><a href="https://github.com/rubenrivera/demo-eleventy-serverless-oauth/">Demo de Eleventy Serveless OAuth en GitHub</a>
  </ul>
</div>
